[Unit]
Description=PulseMove user
After=pulseaudio.service
After=sound.target

[Service]
ExecStart=%h/.bin/pulsemove
LogLevelMax=6

[Install]
WantedBy=default.target